/*============Glogbal Fonts================ */
@font-face {
  font-family: 'Raleway-Light';
  src: url("/assets/Raleway/static/Raleway-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'Raleway-Variable';
  src: url("/assets/Raleway/Raleway-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: 'Palmer-Lake';
  src: url("/assets/myfonts/Jen Wagner Co. - Palmer Lake Print Regular.otf") format("otf");
}

@font-face {
  font-family: 'Jen-Wagner';
  src: url("/assets/myfonts/Jen Wagner Co. - Palmer Lake Print Regular.otf") format("otf");
}

@font-face {
  font-family: 'Sofia-Bold';
  src: url("/assets/myfonts/Mostardesign - Sofia Pro Bold.otf") format("otf");
}

@font-face {
  font-family: 'Sofia-Light';
  src: url("/assets/myfonts/Mostardesign - Sofia Pro Light.otf") format("otf");
}

@font-face {
  font-family: 'Sofia-Medium';
  src: url("/assets/myfonts/Mostardesign - Sofia Pro Medium.otf") format("otf");
}

@font-face {
  font-family: 'Sofia-Regular';
  src: url("/assets/myfonts/Mostardesign - Sofia Pro Regular.otf") format("otf");
}

@font-face {
  font-family: 'Raleway';
  src: url("/assets/Raleway/static/Raleway-Black.ttf") format("ttf");
}

/*============Glogbal Style================ */
/*::::::::::::::::::::::::::::::::::::
   Section Title
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Main Menu
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Hero Area 
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Striped Area
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   About Area
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Service Section
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Work Section
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Operate Section
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Design Section
::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::
   Training Section
::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::
        Form Area
:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::
        Footer Area
:::::::::::::::::::::::::::::::::::*/
html {
  height: 100%;
}

body {
  height: 100%;
}

p {
  font-family: "Raleway-Light";
  font-size: 16px;
  line-height: 26px;
  color: #6f92a3;
  margin: 0;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: 'Raleway-Variable';
  color: #15364c;
  line-height: 1.7;
  margin: 0;
}

h2 {
  font-family: 'Raleway-Variable';
  color: #15364c;
  line-height: 1.7;
  margin: 0;
}

h3 {
  font-family: 'Raleway-Variable';
  color: #15364c;
  line-height: 1.7;
  margin: 0;
}

h5 {
  font-family: 'Raleway-Variable';
  color: #15364c;
  line-height: 1.7;
  margin: 0;
}

h4 {
  font-family: 'Sofia-Bold';
  font-weight: 600;
}

.d-table-head {
  width: 100%;
  height: 100%;
  margin-left: 1.2rem;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid;
  padding: 10px 20px;
}

.button:hover {
  color: #000;
}

.bg-a {
  background-color: #000;
}

.bg-color {
  background-color: #f9f6f4;
}

.section-padding {
  padding: 50px 0;
}

.form-padding {
  padding-top: 50px;
  padding-bottom: 150px;
}

.section-body {
  padding-bottom: 2rem;
}

.section-body p span {
  color: #15364c;
  text-decoration: underline;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-85 {
  padding-bottom: 85px;
}

.bg-img {
  height: 107%;
  border-radius: 1rem;
  padding-right: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.section-title {
  margin-bottom: 60px;
}

.section-title p {
  margin-top: 2rem;
}

.section-title h2 {
  position: relative;
  font-size: 32px;
}

.section-title h2:before {
  content: "";
  display: block;
  width: 250px;
  height: 2px;
  background: #eeecea;
  left: 0;
  top: 50%;
  position: absolute;
}

.section-title h2:after {
  content: "";
  display: block;
  width: 250px;
  height: 2px;
  background: #eeecea;
  right: 0;
  top: 50%;
  position: absolute;
}

.section-para h6 {
  font-family: 'Palmer-Lake';
  font-size: small;
  color: #15364c;
}

.navbar {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #15364c;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: -3rem;
}

.navbar-brand h5 {
  font-family: 'Raleway-Light';
  text-decoration: underline;
  max-height: 40px;
  color: white;
}

.navbar-toggler {
  color: white;
}

.hero-aria {
  height: 600px;
  background-color: #15364c;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.hero-content {
  margin-top: 40px;
}

.hero-text {
  margin-top: 5rem;
  text-align: center;
}

.striped {
  height: 0.7rem;
}

.striped img {
  position: absolute;
  width: 100%;
}

.social-aria {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 15px;
}

.social-aria a {
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.about-title h2 {
  font-family: 'Raleway';
  color: #15364c;
  font-weight: 700;
  text-shadow: 4px 4px #dfdedd;
  shape-margin: 1px pink;
  font-size: 4rem;
}

.about-title h5 {
  font-family: 'Ralway-Light';
  margin: 3rem auto;
  text-align: center;
  font-size: 1.5rem;
  max-width: 700px;
  position: relative;
}

.about-title h5:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #f9f6f4;
  left: 0;
  top: 50%;
  position: absolute;
}

.about-title h5:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #f9f6f4;
  right: 0;
  top: 50%;
  position: absolute;
}

.about-button {
  font-family: 'Sofia-Bold';
  color: #15364c;
  font-size: medium;
  font-weight: bold;
  background-color: #e8d0cd;
  margin-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 1rem;
  border: none;
}

.service-area {
  position: relative;
  z-index: 2;
}

.work-title h2:before {
  content: "";
  display: block;
  width: 220px;
  height: 2px;
  background: #eeecea;
  left: 0;
  top: 50%;
  position: absolute;
}

.work-title h2:after {
  content: "";
  display: block;
  width: 220px;
  height: 2px;
  background: #eeecea;
  right: 0;
  top: 50%;
  position: absolute;
}

.work-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.work-padding {
  padding-top: 3rem;
}

.therapy {
  padding-top: 1rem;
}

.office {
  padding: 0px;
}

.snap {
  padding-top: 1rem;
}

.operate-title h2:before {
  content: "";
  display: block;
  width: 110px;
  height: 2px;
  background: #eeecea;
  left: 0;
  top: 25%;
  position: absolute;
}

.operate-title h2:after {
  content: "";
  display: block;
  width: 110px;
  height: 2px;
  background: #eeecea;
  right: 0;
  top: 25%;
  position: absolute;
}

.operate-title p {
  margin-top: 1rem;
  color: #15364c;
}

.section-operate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
}

.points span {
  min-width: 2rem;
  padding-left: 0.3rem;
  background-image: url("/assets/img/Blob.svg");
  background-repeat: no-repeat;
}

.point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
}

.point span {
  height: 10px;
  width: 10px;
  padding-left: 10px;
  margin-top: 8px;
  background-color: #9fc4d4;
  border-radius: 50%;
}

.design-title h2:before {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: #eeecea;
  left: 0;
  top: 50%;
  position: absolute;
}

.design-title h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: #eeecea;
  right: 0;
  top: 50%;
  position: absolute;
}

.design-body {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.design-para p {
  padding-bottom: 1rem;
}

.design-img img {
  min-height: 300px;
}

.section-title.faq-title h2:after {
  background-color: #000;
}

.section-title.faq-title h2:before {
  background-color: #fff;
}

.training-title h2:before {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #eeecea;
  left: 0;
  top: 20%;
  position: absolute;
}

.training-title h2:after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #eeecea;
  right: 0;
  top: 20%;
  position: absolute;
}

.training-title div {
  margin-top: 2rem;
}

.training-title p {
  color: #15364c;
}

label {
  font-family: 'Sofia-Light';
  color: #15364c;
}

input {
  font-family: 'Sofia-Medium';
  color: #d6d9da;
}

select {
  font-family: 'Sofia-Medium';
  color: #d6d9da;
}

textarea {
  font-family: 'Sofia-Medium';
  color: #d6d9da;
}

.footer {
  padding: 50px;
  background: #15364c;
}

ul a {
  font-family: 'Raleway-Light';
  font-size: medium;
  color: white;
}

.icons a i {
  height: 3rem;
  width: 3rem;
}
/*# sourceMappingURL=style.css.map */